:root {
    --primary__background: rgb(237, 241, 245);
    --primary__background--light: rgb(247, 249, 250);
    --primary__background--premium: rgba(241, 255, 52, 0.6);
    --border: rgba(0, 0, 0, 0.3);
    --success: rgba(70, 223, 65, 0.575);
    --fail: rgba(223, 65, 65, 0.575);
}

body {
    background-color: var(--primary__background);
    width: 80%;
    margin: 0 auto;
    font-family: "DIN Next", sans-serif;

    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    height: 100%;    
}

.events-list__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    padding: 0;
    height: 350px;
}

.event {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 240px;
    height: 160px;

    margin: 15px;
    padding: 12px;

    background-color: var(--primary__background--light);
    border-radius: 4px;

    border: solid 3px var(--border);
}

.event--premium {
    background-color: var(--primary__background--premium);
}

.control-container {
    position: absolute;
    bottom: 15px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.event-detailed__control-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.event__title {
    font-size: larger;
    font-weight: bold;
}

button {
    font-size: larger;
    margin: 10px;
    padding: 5px;
    font-weight: bold;

    border-radius: 4px;
    border: solid 2px var(--border);
}

.event-detailed {
    position: relative;
    width: 400px;

    margin: 25px;
    padding: 20px;

    background-color: var(--primary__background--light);
    border-radius: 4px;
    border: solid 3px var(--border);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-detailed__title {
    font-size: larger;
    font-weight: bold;

    margin: 10px;
}

.event-detailed__description {
    font-size: larger;
    margin: 5px;
}

.event-detailed--premium {
    background-color: var(--primary__background--premium);
}

.message {

    height: 200px;
    width: 80%;
    margin: 15px;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--success);
    border-radius: 4px;
    border: solid 3px green;
}

.message.message--error {
    background-color: var(--fail);
    border-radius: 4px;
    border: solid 3px crimson;
}

.message__message {
    font-size: larger;
    font-weight: bold;
    margin: 25px;
}

.premium {
    height: 160px;
    display: flex;
    align-items: flex-start;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
}

.premium__message {
    font-size: larger;
    font-weight: bold;
    margin: 10px;
}